# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [1]:
x = 3

### Print a message

In [23]:
print("Welcome to programming with python")

Welcome to programming with python

In [3]:
print(x)

3

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [40]:
simpleMessage = 'python introductory course'

In [41]:
print(simpleMessage)

python introductory course

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [27]:
stringOne = "this Is my String"

In [ ]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
#make uppercase
print(stringOne.upper())

THIS IS MY STRING

In [32]:
#make lowercase
print(stringOne.lower())

this is my string

In [33]:
#capitalize
print(stringOne.capitalize())

This is my string

In [34]:
#title
print(stringOne.title())

This Is My String

In [44]:
# Concatination
print("Welcome to " + simpleMessage.capitalize())

Welcome to Python introductory course

In [46]:
len(simpleMessage)

26

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [52]:
name = 'ty Johnson'
print("Hello " + name + ", how are you?")

Hello ty Johnson, how are you?

In [53]:
print(f"hello {name.lower()}, would you like to learn some Python today?")

hello ty johnson, would you like to learn some Python today?

In [54]:
print(f"hello {name.upper()}, would you like to learn some Python today?")

hello TY JOHNSON, would you like to learn some Python today?

In [55]:
print(f"hello {name.title ()}, would you like to learn some Python today?")

hello Ty Johnson, would you like to learn some Python today?

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [65]:
print("Insert a newline character in a string.\n When the string is displayed,\n for each newline,\n move the screen cursor to the beginning of the next line.")

Insert a newline character in a string.
 When the string is displayed,
 for each newline,
 move the screen cursor to the beginning of the next line.

In [67]:
print("\tInsert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop.")

	Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop.

In [72]:
print("\\Insert a backslash character in a string.")

\Insert a backslash character in a string.

In [73]:
print("\"Insert a double quote character in a string.\"")

"Insert a double quote character in a string."

In [74]:
print("\'Insert a single quote character in a string.\'")

'Insert a single quote character in a string.'

In [76]:
print("List of chapters: \n\t\tString\n\t\tList\n\t\tTuples\n\t\tControl Structures")

List of chapters:
		String
		List
		Tuples
		Control Structures

## Useful methods for split a string

In [79]:
simpleMessage.split(sep = " ")

['python', 'introductory', 'course']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [83]:
stripString = "   ty johnson   "

In [84]:
stripString.lstrip()

'ty johnson   '

In [85]:
stripString.rstrip()

'   ty johnson'

In [86]:
stripString.strip()

'ty johnson'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [103]:
stripName = "    ty\t\n johnson   "

In [104]:
print(stripName.strip())

ty
 johnson

In [105]:
print(stripName.lstrip())

ty
 johnson

In [107]:
print(stripName.rstrip())

    ty
 johnson

#### Replacing words or characters of a string

In [118]:
messageOne = "Python Programming Language"
print(messageOne)

Python Programming Language

In [119]:
messageTwo = messageOne.replace("Python", "Java")
print(messageTwo)

Java Programming Language

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [14]:
print(10 % 3)
print (7 //2)
print (6 * 2)
print(21 / 3)
print(10 ** 10)
print(5 - 3 + 1)

1
3
12
7.0
10000000000
3

## Avoiding Type Errors with the str() Function

In [22]:
age = 21
name = "Ella"
print("The name of " + name +" is " +str(age))

The name of Ella is 21

In [27]:
print("The age of " + name + " is",age)

The age of Ella is 21

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [32]:
print("The division is",182 / 2)
print("The addition is",70 + 21)
print("The subtraction is",112 - 21)
print("The multiplication is",45.5*2)

The division is 91.0
The addition is 91
The subtraction is 91
The multiplication is 91.0

In [40]:
favNum = 7
print("My favorite number is",favNum)

My favorite number is 7

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [35]:
flower_name = input("Enter your favorite flower\'s name: ")

Enter your favorite flower's name: rose

In [36]:
favoriteDay = input("Enter your favorite day: ")

Enter your favorite day: saturday

In [38]:
type(flower_name)
type(favoriteDay)

str

In [39]:
favNumb = input("Enter your favorite number: ")

Enter your favorite number: 7

In [41]:
type(favNumb)

str

In [42]:
favNumb = int(input("Enter your favorite number: "))

Enter your favorite number: 7

In [43]:
type(favNumb)

int

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [44]:
favNumb = int(input("Enter your favorite number: "))

Enter your favorite number: 7

In [45]:
type(favNumb)

int

In [53]:
favNumb = float(input("Enter your favorite real number: "))

Enter your favorite real number: 7.12

In [54]:
type(favNumb)

float

In [55]:
print(type(favNumb))

<class 'float'>

## Checking the data type using `type` function

In [56]:
numb = 23
name = "Ty"
print(type(numb))
print(type(name))

<class 'int'>
<class 'str'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [1]:
print("This is error message)

SyntaxError: EOL while scanning string literal (1075308583.py, line 1)

In [2]:
print("This is error message")

This is error message

In [4]:
len("hello") = 5

SyntaxError: cannot assign to function call (2915349394.py, line 1)

In [5]:
1 = "python"

SyntaxError: cannot assign to literal (2719543331.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [6]:
4 / 0

ZeroDivisionError: division by zero

In [12]:
amount = input(int("Enter the total amount before tax"))
tax = 0.06
print("The total is: " Amount*tax+amount)

ValueError: invalid literal for int() with base 10: 'Enter the total amount before tax'

In [16]:
amount = int(input("Enter the total amount before tax: "))
tax = 0.06
print("The total is: ", amount*tax+amount)

Enter the total amount before tax: 23
The total is:  24.38

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [23]:
number1 = int(input("Enter a integer number: "))

Enter a integer number: 2

In [24]:
number2 = float(input("Enter a floating point number: "))

Enter a floating point number: 10.7

In [25]:
print("The multiplication of number 1 and number 2 is:", number1 + number2)

The multiplication of number 1 and number 2 is: 12.7

In [26]:
print("The multiplication of number 1 and number 2 is:", number1 * number2)

The multiplication of number 1 and number 2 is: 21.4