# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data = {}

In [2]:
type(data)

dict

In [ ]:
data1 = dict()
type(data1)

In [10]:
#states are key and capitals are values

data = {'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta',
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [11]:
print(data)
type(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [12]:
data['Alabama']

'Montgomery'

In [13]:
data['Ohio']

'Salem'

In [7]:
#data['Louisiana']

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Columbus'}

dict

### Update elements of a dictionary and add new elements

In [15]:
days = {1 : 'Monday',
       2 : 'Tuesday',
       4 : ('Thursday', 'Friday'),
        5 : ['Saturday', 'Holiday']}

In [16]:
days[1]

'Monday'

In [17]:
days[4]

('Thursday', 'Friday')

In [18]:
days[5][0]

'Saturday'

In [20]:
days[1] = 'Holiday'
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [21]:
days[3] = 'Wednesday'
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday'],
 3: 'Wednesday'}

### `get` and `update` methods

In [ ]:
data = {'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta',
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [22]:
data.get('Alabama')

'Montgomery'

In [23]:
data.get('Louisiana') #not generating error

In [25]:
data.update({'Kentucky' : 'Louisville', 'Louisiana' : 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [29]:
data = {'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta',
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [30]:
del data['Alabama']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [31]:
data.pop('Ohio')
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort'}

In [32]:
data.pop('Kentucky')

'Frankfort'

In [33]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [34]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

In [35]:
len(data)

2

In [37]:
data.keys()

dict_keys(['Arizona', 'Georgia'])

In [38]:
data.values()

dict_values(['Phoenix', 'Atlanta'])

In [39]:
data.items()

dict_items([('Arizona', 'Phoenix'), ('Georgia', 'Atlanta')])

### Loop through a dictionary

In [40]:
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday'],
 3: 'Wednesday'}

In [41]:
for key in days.keys():
    print(key)

1
2
4
5
3

In [42]:
for value in days.values():
    print(value)

Holiday
Tuesday
('Thursday', 'Friday')
['Saturday', 'Holiday']
Wednesday

In [45]:
for key, value in days.items():
    print(type(key), type(value))

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
<class 'int'> <class 'tuple'>
<class 'int'> <class 'list'>
<class 'int'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [46]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

In [48]:
state = list(data.keys())
state

['Arizona', 'Georgia']

In [50]:
capital = tuple(data.values())
capital

('Phoenix', 'Atlanta')

### A List in a Dictionary

In [60]:
favLanguage = {
    'Jen' : ['Python', 'Ruby'],
    'Sarah' : 'C',
    'Edward' : ['Ruby', 'Java'],
    'Phil' : ['Pyhton', 'Haskell']
}

In [67]:
for name, languages in favLanguage.items():
    print("\n" + name.title() + "\'s favorite programming languages are: '")
    print(languages)
    for i in langauges:
        print("\t\t\t\t" + i.title())

Jen's favorite programming languages are: '
['Python', 'Ruby']

NameError: name 'langauges' is not defined

###  A Dictionary in a Dictionary

In [1]:
user = {
    'Einstein' : {
        'First Name' : 'Albert',
        'Last Name' : 'Einstein',
        'Location' : 'Princeton'
    },
    'Mcurie' : {
        'First Name' : 'Marie',
        'Last Name' : 'Curie',
        'Location' : 'Paris'
    }
}

In [4]:
for username, userInfo in user.items():
    print('\nUser Name: ', username)
    fullName = userInfo['First Name'] + ' ' + userInfo['Last Name']
    location = userInfo['First Name'] + ' ' + userInfo['Last Name']
    print('The full name is: ' + fullName.title())
    print('Location: ' + location.title())

User Name:  Einstein
The full name is: Albert Einstein
Location: Albert Einstein

User Name:  Mcurie
The full name is: Marie Curie
Location: Marie Curie